* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', arial, sans-serif;
}

body{
    background-color: rgb(237, 237, 237);
}

.title {
    background-image: linear-gradient(to right, var(--gradColor1), var(--gradColor2));
    height:30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    margin-bottom: 50px;
}

.title h1{
    color: rgb(237, 237, 237);
}

.row {
    height:200px;
    text-align: center;
    margin: auto;
}

.block {
    display: inline-block;
    vertical-align: top;
    background-color: white;
    border-radius: 25px;
    box-shadow: 7px 7px 5px grey;
    border-style: groove;
    width: 180px;
    height: 180px;
    margin-right:30px;
}

#block-name-link{
    color: #000000;
    text-decoration: none;
    width: 180px;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#block-img-link{
    width: 180px;
    height: 135px;
}

#block-name-link a{
    text-decoration: none;
    font-size: 95%;
    font-weight: 600;
    background-repeat: repeat-x;
    background-size: 100%;
    color: rgb(237, 237, 237);
	text-transform: uppercase;
    text-shadow: -1px 0 rgb(100, 100, 100), 0 1px rgb(100, 100, 100), 1px 0 rgb(100, 100, 100), 0 -1px rgb(100, 100, 100);
}

#block-name-link a:hover{
    background: linear-gradient(to right, var(--mainColor) 0%, var(--mainColor) 5px, transparent);
}

.block img{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 20px;
    border-style: groove;
    border-color: rgb(237, 237, 237);
}

@media(max-width: 900px){
    .block{
        margin-right: 12px;
    }
}

@media(max-width: 820px){
    .row{
        width: 500px;
        height:420px;
    }

    .block{
        margin-right: 30px;
        margin-bottom: 30px;
    }
}